@import "./common/variable.css";

@component-namespace tj {
  @b cell {
    @e inner {
      background: var(--color-white);
      color: var(--color-black);
      display: flex;
      height: 45px;
      line-height: 45px;
      align-items: center;
      padding: 0 10px;
    }

    @e icon {
      flex: 0 0 20px;
      margin-right: 7px;
    }

    @e title {
      flex: 1;
    }

    @e value {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 55%;
      text-align: right;
      color: var(--color-light-grey);
    }

    @e right {
      flex: 0 0 20px;
      font-size: .75rem;
      color: var(--color-light-grey);
      text-align: right;
    }
  }
}
