@import "./common/variable.css";

@component-namespace tj {
   @b dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: var(--color-white);
    width: 85%;
    border-radius: 3px;
    font-size: 16px;
    -webkit-user-select: none;
    overflow: hidden;
    backface-visibility: hidden;
    transition: 0.2s;

    @e header {
      padding: 15px 0 0;
    }

    @e content {
      padding: 10px 20px 15px;
      border-bottom: 1px solid var(--color-light-grey-ss);
      min-height: 36px;
      position: relative;
    }

    @e input {
      padding-top: 15px;

      & input {
        border: 1px solid var(--color-light-grey-ss);
        border-radius: 5px;
        padding: 5px 0;
        width: 100%;
        appearance: none;
        outline: none;
      }

      & input.invalid {
        border-color: var(--color-red);

        &:focus {
          border-color: var(--color-red);
        }
      }
    }

    @e errormsg {
      color: var(--color-red);
      font-size: 12px;
      min-height: 18px;
      margin-top: 2px;
    }

    @e title {
      text-align: center;
      padding-left: 0;
      margin-bottom: 0;
      font-size: 16px;
    }

    @e message {
      color: var(--color-light-grey);
      margin: 0;
      text-align: center;
      line-height: 36px;
    }

    @e btns {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 40px;
      line-height: 40px;
    }

    @e btn {
      line-height: 35px;
      display: block;
      background-color: var(--color-white);
      flex: 1;
      margin: 0;
      border: 0;

      &:focus {
        outline: none;
      }

      &:active {
        background-color: var(--color-white);
      }
    }

    @e cancel {
      font-size: 16px;
      color: var(--color-light-grey);
      width: 50%;
      border-right: 1px solid var(--color-light-grey-ss);

      &:active {
        color: var(--color-black);
      }
    }

    @e confirm {
      font-size: 16px;
      color: var(--color-default);
      width: 50%;

      &:active {
        color: var(--color-default);
      }
    }
  }
}


.dialog-bounce-enter {
  opacity: 0;
  transform: translate3d(-50%, -50%, 0) scale(0.7);
}

.dialog-bounce-leave-active {
  opacity: 0;
  transform: translate3d(-50%, -50%, 0) scale(0.9);
}