@import "./common/color";
@import "./common/mixins";

@include b(dialog) {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: $color-white;
  width: 85%;
  border-radius: 3px;
  font-size: 16px;
  -webkit-user-select: none;
  overflow: hidden;
  backface-visibility: hidden;
  transition: 0.2s;

  @include e(header) {
    padding: 15px 0 0;
  }

  @include e(content) {
    padding: 10px 20px 15px;
    border-bottom: 1px solid $color-light-grey-ss;
    min-height: 36px;
    position: relative;
  }

  @include e(input) {
    padding-top: 15px;

    & input {
      border: 1px solid $color-light-grey-ss;
      border-radius: 5px;
      padding: 5px 0;
      width: 100%;
      appearance: none;
      outline: none;
    }

    & input.invalid {
      border-color: $color-red;

      &:focus {
        border-color: $color-red;
      }
    }
  }

  @include e(errormsg) {
    color: $color-red;
    font-size: 12px;
    min-height: 18px;
    margin-top: 2px;
  }

  @include e(title) {
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 16px;
  }

  @include e(message) {
    color: $color-light-grey;
    margin: 0;
    text-align: center;
    line-height: 36px;
  }

  @include e(btns) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    line-height: 40px;
  }

  @include e(btn) {
    line-height: 35px;
    display: block;
    background-color: $color-white;
    flex: 1;
    margin: 0;
    border: 0;

    &:focus {
      outline: none;
    }

    &:active {
      background-color: $color-white;
    }
  }

  @include e(cancel) {
    font-size: 16px;
    color: $color-light-grey;
    width: 50%;
    border-right: 1px solid $color-light-grey-ss;

    &:active {
      color: $color-black;
    }
  }

  @include e(confirm) {
    font-size: 16px;
    color: $color-default;
    width: 50%;

    &:active {
      color: $color-default;
    }
  }
}


.dialog-bounce-enter {
  opacity: 0;
  transform: translate3d(-50%, -50%, 0) scale(0.7);
}

.dialog-bounce-leave-active {
  opacity: 0;
  transform: translate3d(-50%, -50%, 0) scale(0.9);
}