@import "./common/variable.css";

@component-namespace tj {
  @b field {
    @e inner {
      display: flex;
      background: var(--color-white);
      align-items: center;
      padding: 0 10px;
    }

    @e icon {
      flex: 0 0 25px;
      line-height: 45px;
    }

    @e title {
      flex: 0 0 70px;
      height: 45px;
      line-height: 45px;
    }

    @e must {
      color: var(--color-red);
      margin-left: 3px;
    }

    @e box {
      position: relative;
      flex: 1;
    }

    @e input {
      width: 100%;
      height: 45px;
      -webkit-text-fill-color: var(--color-light-grey);

      &:focus {
        outline: none;
        border: none;
      }
    }

    @e textarea {
      width: 100%;
      border: none;
      padding: 2px;
      -webkit-text-fill-color: var(--color-light-grey);
      line-height: 1.6;
      &:focus {
        outline: none;
        border: none;
      }
    }

    @e clear {
      position: absolute;
      top: 16px;
      right: 10px;
      color: var(--color-light-grey-s);
    }
  }
}
