@import "./common/iconfont.css";
@import "./row.css";
@import "./col.css";
@import "./button.css";
@import "./cell.css";
@import "./field.css";
@import "./switch.css";
@import "./rate.css";
@import "./swipe.css";
@import "./toast.css";
@import "./loading.css";
@import "./indicator.css";
@import "./dialog.css";
@import "./checker.css";
@import "./collapse.css";
@import "./progress.css";
@import "./upload.css";
@import "./range.css";
@import "./tabs.css";
@import "./header.css";
@import "./price.css";
@import "./panel.css";
@import "./popup.css";
@import "./checkbox.css";
@import "./select.css";
@import "./recycleList.css";
@import "./search.css";

.v-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: var(--color-black);
}
