@import "./common/color";
@import "./common/mixins";

@include b(indicator) {
  transition: opacity 0.2s linear;

  @include b(wrapper) {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    z-index: 3000;
  }

  @include b(text) {
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
  }

  @include b(spin) {
    display: inline-block;
    text-align: center;
  }

  @include b(mask) {
    position: fixed;
    left: 50%;
    top: 50%;
    size: 100%;
    opacity: 0;
    background: transparent;
    z-index: 3000;
  }
}

.tj-indicator-enter,
.tj-indicator-leave-active {
  opacity: 0;
}