@import "./common/color";
@import "./common/mixins";

@include b(loading) {
  display: inline-block;
  font-size: 0;

  @include e(spinners) {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
  }

  @include e(spinner) {
    position: absolute;
    left: 44.5%;
    top: 37%;
    width: 2PX;
    height: 25%;
    border-radius: calc(50% / 20%);
    opacity: 0.25;
    background-color: currentColor;
    animation: spinner-fade 1s linear infinite;

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        animation-delay: (($i - 1) / 12)s;
        transform: rotate((30deg * ($i - 6))) translateY(-150%);
      }
    }
  }


  @include e(circular) {
    display: inline-block;
    animation: tj-rotate 0.8s linear infinite;
    animation-duration: 2s;

    circle {
      animation: circular-fade 1.5s ease-in-out infinite;
      stroke: currentColor;
      stroke-width: 3;
      stroke-linecap: round;
    }
  }

  @include e(text) {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    font-size: 14px;
  }
}

@keyframes spinner-fade {
  0% {
    opacity: 0.85;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 0.25;
  }
}

@keyframes circular-fade {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}

@keyframes tj-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}