@import "./common/color";
@import "./common/mixins";

@include b(recycle-list) {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @include e(main) {
      min-height: 100%;
    }

    @include e(fake) {
      height: 1px;
    }

    @include e(invisible) {
      top: -1000px;
      visibility: hidden;
    }

    @include e(item) {
      width: 100%;
      position: absolute;
      box-sizing: border-box;
    }

    @include e(transition) {
      position: absolute;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 500ms;
    }

    @include e(loading) {
      overflow: hidden;
    }

    @include e(loading-content) {
      text-align: center;
    }

    @include e(spinner) {
      margin: 10px auto;
      display: flex;
      justify-content: center;
    }
  }
