@import "./common/color";
@import "./common/mixins";

@include b(row) {
  width: 100%;
  overflow: hidden;

  @include e(inner) {
    &::before {
      content: '';
      display: table;
    }

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }
}