@import "./common/variable.css";

@component-namespace tj {
  @b switch {
    display: flex;
    align-items: center;
    position: relative;

    * {
      pointer-events: none;
    }

    @e label {
      margin-left: 10px;
      display: inline-block;

      &:empty {
        margin-left: 0;
      }
    }

    @e core {
      display: inline-block;
      position: relative;
      size: 52px 32px;
      border: 1px solid var(--color-light-grey-ss);
      border-radius: 16px;
      box-sizing: border-box;
      background: var(--color-light-grey-ss);

      &::after,
      &::before {
        content: " ";
        position: absolute 0 * * 0;
        transition: transform .3s;
        border-radius: 15px;
      }

      &::after {
        size: 30px;
        background-color: var(--color-white);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
      }

      &::before {
        size: 50px 30px;
        background-color: #fdfdfd;
      }
    }

    @e input {
      display: none;

      &:checked {
        +.tj-switch__core {
          border-color: var(--color-default);
          background-color: var(--color-default);

          &::before {
            transform: scale(0);
          }

          &::after {
            transform: translateX(20px);
          }
        }
      }
    }
  }
}