@import "./common/color";
@import "./common/mixins";

@include b(tabs) {
  background: $color-white;

  @include e(header) {
    font-size: 16px;
    overflow-x: auto;
    border-bottom: 1px solid $color-light-grey-ss;
  }

  @include e(item) {
    text-align: center;
    line-height: 49px;

    &.active {
      .tj-tabs__label {
        display: inline-block;
        line-height: 47px;
        color: $color-default;
        font-weight: bolder;
        border-bottom: 2px solid $color-default;
      }
    }
  }

  @include e(more) {
    overflow-x: auto;

    .tj-tabs__item {
      flex: inherit !important;
      margin: 0 25px;
    }
  }

}

@include b(tabs-item) {
  padding: 15px;
}