.bd_t_1
  &::before
    border-top 1px solid #ebebeb
    left 0
    top 0
    width 100%
    transform-origin 0 top

.db_r_1
  &::after
    border-right 1px solid #ebebeb
    top 0
    right 0
    height 100%
    transform-origin right 0

.bd_b_1
  border-bottom 1px solid #f7f7f7
  &::after
    border-bottom 1px solid #ebebeb
    left 0
    bottom 0
    width 100%
    transform-origin 0 bottom

.db_l_1
  &::before
    border-left 1px solid #ebebeb
    top 0
    left 0
    height 100%
    transform-origin left 0

@media (min-resolution 2dppx)
  .bd_t_1
    &::before
      width 200%
      transform scale(.5) translateZ(0)
  .db_r_1
    &::after
      height 200%
      transform scale(.5) translateZ(0)
  .bd_b_1
    &::after
      width 200%
      transform scale(.5) translateZ(0)
  .db_l_1
    &::before
      height 200%
      transform scale(.5) translateZ(0)

@media (min-resolution 3dppx)
  .bd_t_1
    &::before
      width 300%
      transform scale(.333) translateZ(0)
  .db_r_1
    &::after
      height 300%
      transform scale(.333) translateZ(0)
  .bd_b_1
    &::after
      width 300%
      transform scale(.333) translateZ(0)
  .db_l_1
    &::before
      height 300%
      transform scale(.333) translateZ(0)

.mt_5
  margin-top 5px

.mr_5
  margin-right 5px

.mb_5
  margin-bottom 5px

.ml_5
  margin-left 5px

.mt_10
  margin-top 10px

.mr_10
  margin-right 10px

.mb_10
  margin-bottom 10px

.ml_10
  margin-left 10px

.mt_15
  margin-top 15px

.mr_15
  margin-right 15px

.mb_15
  margin-bottom 15px

.ml_15
  margin-left 15px

.pt_5
  padding-top 5px

.pr_5
  padding-right 5px

.pb_5
  padding-bottom 5px

.pl_5
  padding-left 5px

.pt_10
  padding-top 10px

.pr_10
  padding-right 10px

.pb_10
  padding-bottom 10px

.pl_10
  padding-left 10px

.pl_15
  padding-left 15px

.pt_15
  padding-top 15px

.pr_15
  padding-right 15px

.pb_15
  padding-bottom 15px

.text_l
  text-align left

.text_c
  text-align center

.text_r
  text-align right

.float_l
  float left

.float_r
  float right

.relative
  position relative

.margin_10
  margin-left 10px
  margin-right 10px

.margin_15
  margin-left 15px
  margin-right 15px

.padding_10
  padding-left 10px
  padding-right 10px

.padding_15
  padding-left 15px
  padding-right 15px

.hidden
  overflow hidden

.bg_gray
  background #f7f7f7
  padding 10px