.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  color: #fff
  background: #9c27b0
  height 58px
  line-height 58px
  padding 0 .9375rem /* 15/16 */
  z-index 999
  
  .sidebar-button
    display: none
    position: relative
    top: .125rem /* 2/16 */
    margin-right: .625rem /* 10/16 */
    color: #fff
    width: 1.25rem
    height: 1.25rem
    cursor: pointer
    .icon
      display: block
      width: 1.25rem
      height: 1.25rem
  .title 
    color #fff
    font-size 1.3rem
    font-weight bolder
  .links
    float right
    overflow hidden
    margin-right 1.875rem /* 30/16 */
    .nav-item
      float left
      margin-right 35px
      a 
        color #fff
    .repo-link
      color #fff
      float left

.container
  display flex
  margin-top 57px
  .sidebar 
    position: fixed;
    width: 300px;
    height: calc(100% - 58px);
    z-index 9
    flex 0 0 16.875rem /* 270/16 */
    background #eee
    overflow-y auto
    .sidebar-links
      padding 1.5rem 0
      margin 0
      .sidebar-heading
        color: #999
        transition: color 0.15s ease
        cursor: pointer
        font-size: 1.1em
        padding: 0 1.5rem
        margin: 1rem 0 0.5rem
        span 
          font-weight: 600
          color #3f536e
      .sidebar-group-items
        margin: 0
        padding-left: 1rem
        .sidebar-link
          display: inline-block
          color: #2c3e50
          border-left: 0.25rem solid transparent
          padding: 0.35rem 1rem 0.35rem 1.25rem
          line-height: 1.4
          width: 100%
          box-sizing: border-box
          &.router-link-exact-active
            color: #9c27b0
  
  .main
    flex 1
    padding: 1rem 5rem
    overflow: hidden
    margin-left 300px
  
  .example
    flex 0 0 22.5rem /* 360/16 */
    margin-top 1.875rem /* 30/16 */
    .example-wrap
      width 20.625rem /* 330/16 */
      height 40.625rem /* 650/16 */
      background url('https://baojunev-mall.oss-cn-shenzhen.aliyuncs.com/20190530112032-c5a64769713841fb8697d16f18a7d94b.png') no-repeat
      background-size 20.625rem /* 330/16 */ auto
      position relative
      .inner
        position: absolute
        top: 4rem /* 64/16 */
        left: 1.3125rem /* 21/16 */
        right: 1.4375rem /* 23/16 */
        bottom: 1.375rem /* 22/16 */
        overflow: hidden
        border-radius: 0 0 2.1875rem /* 35/16 */ 2.1875rem /* 35/16 */
        border: .0625rem /* 1/16 */ solid #edf0f4
        border-top: none
        background-color: #edf0f4
        .iframe
          width 100%
          height 100%


@media screen and (max-width: 68.75rem /* 1100/16 */)
  .container
    .sidebar 
      width: 230px
    .example
      display none
    .main
      margin-left 230px
      padding 1rem 4rem


@media screen and (max-width: 60rem /* 960/16 */)
  .container
    .sidebar 
      flex 0 0 15.625rem /* 200/16 */
    .example
      display none

@media screen and (max-width: 45rem /* 720/16 */)
  .header
    .sidebar-button
      display inline-block
    .nav-item
      margin-right 15px !important
  .container
    .sidebar 
      width: 15.625rem /* 200/16 */
      left: 0
      top: 3.5625rem /* 57/16 */
      height: calc(100% - 58px);
      transform translate3d(-100%, 0, 0)
      &.open
        transform translate3d(0, 0, 0)
    
    .main
      padding 1rem
      margin-left 0
      .bg_gray
        position relative
        left -1rem
        width calc(100% + .8rem)
      .demo-container
        overflow inherit
      .docs-demo
        position relative
        left -1rem
        width calc(100% + 2rem)
        border-radius 0
