.main section
  color #3f536e
  font-size 14px
  .demo-bloc
    padding 32px
    border 1px solid #e2ecf4
    border-radius 4px 4px 0 0
    background-color #fff
    margin-top 16px
  
  hr
    margin 1.2em 0
    border 0
    border-bottom 1px solid #C5D9E8
  
  p
    padding 0
    line-height 1.7
    color #3f536e
    a
      color #9c27b0
  
  h1
    font-size 1.65rem
  
  h1,h2,h3,h4
    margin 15px 0 10px
    line-height 1.5
  
  h2
    font-size 1.65rem
    margin-top 0
    font-weight 400

  h3
    padding 0 10px
    line-height 1
    font-weight 400
    border-left 2px solid #9c27b0
  
  ul
    margin 16px 0
    list-style disc
    li
      line-height 1.2
      margin-left 15px
      list-style inherit
  
  strong
    font-weight bolder 
  
  pre
    padding 20px
    overflow auto
    code
      font-family Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
      font-size 0.85em
      padding 0
      border none
      border-radius 0
      background-color transparent
    
  
  code
    padding .3em .5em
    font-size .9em
    vertical-align middle
    border 1px solid #ECECEC
    border-radius 2px
    background-color #F7F7F7
  
  code.code_inline
    padding 0 .5em
  
  img
    vertical-align middle
  
  p+p
    margin-top 8px
  
  table.table
    display block
    width 100%
    background-color #fff
    color #5e6d82
    font-size 14px
    border-collapse collapse
    overflow auto
    margin-bottom 50px
    border-collapse collapse
    border-spacing 0px !important
    display table
    border 1
    th
      border-top 1px solid #eaecef
      background-color #FAFBFC
      border 1px solid #eaecef
      padding 10px 8px
    tr 
      padding 10px 0
      line-height 1.3
      td
        padding 10px 8px
        text-align center
        border 1px solid #eaecef
    t
      border-top 1px solid #eaecef
      border-bottom 1px solid #eaecef
      padding 10px 8px
    
  
