.main-inner section {
  color: #3f536e;
  font-size: 14px;

  .demo-bloc {
    padding: 32px;
    border: 1px solid #e2ecf4;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    margin-top: 16px;
  }

  hr {
    margin: 1.2em 0;
    border: 0;
    border-bottom: 1px solid #C5D9E8;
  }

  p {
    padding: 0;
    line-height: 1.7;
    color: #3f536e;

    a {
      color: #9c27b0;
    }
  }

  h1 {
    font-size: 28px;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 15px 0 10px;
    line-height: 1.5;
  }

  h2 {
    font-size: 1.65rem;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    color: #000;
  }

  h3 {
    line-height: 1;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    margin: 30px 0 15px;
  }

  ul {
    margin: 16px 0;
    list-style: disc;

    li {
      line-height: 1.2;
      margin-left: 15px;
      list-style: inherit;
    }
  }

  strong {
    font-weight: bolder;
  }

  pre {
    padding: 20px;
    overflow: auto;

    code {
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      font-size: 0.85em;
      padding: 0;
      border: none;
      border-radius: 0;
      background-color: transparent;
    }
  }

  code {
    padding: 0.3em 0.5em;
    font-size: 0.9em;
    vertical-align: middle;
    border: 1px solid #ECECEC;
    background-color: #F7F7F7;
  }

  code.code_inline {
    padding: 0 0.5em;
  }

  img {
    vertical-align: middle;
  }

  p {
    color: #999;
  }

  table.table {
    display: block;
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    overflow: auto;
    margin-bottom: 50px;
    border-collapse: collapse;
    display: table;
    border-radius: 10px;
    box-shadow: 0 8px 12px #ebedf0;

    th {
      // color: #000;
      padding: 15px 8px;
      font-weight: inherit;
    }

    tr {
      padding: 10px 0;
      line-height: 1.3;
      border-top: 1px solid #f3f3f3;

      td {
        padding: 15px 8px;
        text-align: center;
        // border: 1px solid #eaecef;
      }
    }
  }
}