

  /* color vars */
  /* basic */
  $color-default: #409eff;
  $color-green: #07c160;
  $color-regular-blue: #4a4c5b;
  $color-background: #f7f7f7;
  $color-white: #fff;
  $color-black: #333;

  /* gray */
  $color-dark-grey: #333;
  $color-grey: #666;
  $color-light-grey: #999;
  $color-light-grey-s: #ccc;
  $color-light-grey-ss: #eee;
  $color-light-grey-sss: #fcfcfc;
  $color-active-grey: #e8e8e8;
  $color-dark-grey-opacity: rgba(74, 76, 91, 0.8);
  $color-grey-opacity: rgba(0, 0, 0, .08);
  $color-light-grey-opacity: rgba(0, 0, 0, .04);

  /* green */
  $color-dark-green: #16ce7f;
  $color-light-orange: #5cb58f;
  $color-green-opacity: rgba(252, 145, 83, .08);
  $color-light-green-opacity: rgba(252, 145, 83, .04);

  /* blue */
  $color-blue: #444654;

  /* yellow */
  $color-yellow: #e6a23c;

  /* red */
  $color-red: #f44;

  /* row line */
  $color-row-line: #ebebeb;

  /* column line */
  $color-col-line: #f5f5f5;

  /* mask */
  $color-mask-bg: rgba(37, 38, 45, .4);

  @import '../packages/theme-chalk/src/index';